html,
body {
  height: 100%;
}

body {
  font-family: helvetica;
  margin: 0;
  padding: 0;
  background-image: url("assets/bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  color: #fff;
}

button {
  background: #ecfa00;
  color: #000;
  padding: 0 45px;
  border: 2px solid #fff;
  border-radius: 25px;
  height: 50px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.2em;
  cursor: pointer;
  transition: 0.4s;
}

button:hover {
  background-color: #f7de00;
}

@media screen and (max-width: 600px) {
  body {
    font-family: helvetica;
    margin: 0;
    padding: 0;
    background-image: url("assets/bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 270%;
    color: #fff;
  }
}
